<% layout('/layout/layout') -%>
<link href="/css/login.css" rel="stylesheet">
<div class="login">
	<form method="POST" action="/users/activation">
	  <input type="text" placeholder="Email Id" id="email" name="email">  
	  <input type="text" placeholder="Activation Key" id="activation_key" name="activation_key">  
	  <input type="submit" value="Verify">	
	</form>
</div>
<div class="shadow"></div>