<% layout('/layout/layout') -%>
<div class="login">
  <form method="POST" action="/notes/add">
    <input type="text" placeholder="Title"  name="title">  
    <input type="text" placeholder="Body" name="body">  
    <input type="submit" value="Add Note">  
  </form>
</div>
<div class="shadow"></div>