<% layout('/layout/layout') -%>
<div class="login edit_note">
	<form method="POST" action="/notes/edit/<%= note._id%>" class="edit_form">
		<div><label>Title:</label></div>
	  <input name="title" type="text" value=<%= note.title %>>
	  <div><label>Author:</label></div>
		<input name="author" type="text" value=<%= note.author %>>
		<div><label>Body:</label></div>
		<textarea name="body"><%= note.body %></textarea>
	  <input type="submit" value="Update">	
	</form>
</div>
<div class="shadow"></div>