<% layout('/layout/layout') -%>
<% if (notes) { %>
	<h1><%= title %></h1>
	<div class="list2">
		<ol>
			<% notes.forEach(function(note){ %>
				<li>
					<p><a href="/notes/<%= note._id %>" ><%= note.title%></a></p>
					<p><%= note.body%></p>
				</li>
			<% })%>
		</ol>
	</div>
<% } else {%>
<div class="index_login_text">
	 Please login to see your notes 
</div>
<% } %>
