<% layout('/layout/layout') -%>
<h1><%= title %></h1>
<div class="list2">
	<ol>
		<% notes.forEach(function(note){ %>
			<li>
				<p><a href="/notes/<%= note._id %>" ><%= note.title%></a></p>
				<p><%= note.body%></p>
			</li>
		<% })%>
	</ol>
</div>