<% layout('/layout/layout') -%>
<div class="login">
	<form method="POST" action="/users/login">
	  <input type="text" placeholder="User Name" id="username" name="name">  
	  <input type="password" placeholder="Password" id="password" name="password">  
	  <input type="submit" value="Sign In">	
	</form>
</div>
<div class="shadow"></div>