<% layout('/layout/layout') -%>
<div class="login register">
  <form method="POST" action="/users/register">
    <input type="text" placeholder="Username" id="username" name="name">
    <input type="text" placeholder="Email" id="username" name="email">  
    <input type="text" placeholder="Phone Number" id="username" name="phone_number">  
    <input type="password" placeholder="password" id="password" name="password">
    <input type="password" placeholder="confirm password" id="password2" name="password2">    
    <input type="submit" value="Register"> 
  </form>
</div>
<div class="shadow"></div>