/* LIST #2 */
.list2 { width:320px; }
.list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:20px; color:#bfe1f1;  }
.list2 ol li { }
.list2 ol li p { padding:3px; font-style:normal; font-family:Arial; font-size:13px; color:black;}
.list2 ol li p em { display:block; }
.list2 {
	border: 1px solid #cccccc;
	padding: 10px;
  border-radius: 6px;
}

.note {
	margin-top: 67px;
	border: 1px solid #cccccc;
	padding: 10px;
  border-radius: 6px;
  width: 320px;
}


.note p {
  font-style: italic;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  color: black;
}
